<div class="container-fluid">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="panel panel-info">     
          <div class="panel-heading">
            Login {{status}}
          </div>     
          <div class="panel-body">
            <div class="row" style="padding: 0.5%">
             <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" required [(ngModel)]="username">
            </div>
            <br>
            <div class="row" style="padding: 0.5%">
                <input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" required [(ngModel)]="password">
            </div>
            <br>
            <div class="row" style="padding: 0.5%">
            <button type="submit" class="btn btn-info" (click)="login()">Login</button>          
            </div>
        </div> 
      <div class="col-lg-3"></div>
      </div>                
    </div> 
  </div>