    <div class="panel panel-info">
      <div class="panel-heading">
          Recent threads
      </div>     
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let thread of recentThreads">
              <a [routerLink]="['/thread-posts', thread.title, thread.id]">{{thread.title}}</a>
          </li>       
        </ul> 
      </div>         
    </div>
      