<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <input type="text" class="form-control" placeholder="Title" aria-describedby="sizing-addon2" required [(ngModel)]="title">
    </div>      
  </div>
  <br>
  <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
          <button type="submit" class="btn btn-info" (click)="startThread()">Start thread</button>          
      </div>      
    </div>    
</div>  
