 
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-group"> 
              <div class="panel panel-info">     
                  <div class="panel-heading">
                    Search results for: {{query}}        
                  </div>    
                </div>
            <div *ngFor="let result of postsResult">      
              <app-single-post [post]="result"></app-single-post>    
            </div>    
            <div class="container-fluid">
              <div class="row">
              </div>
            </div>                
          </div>
        </div>
      </div>
    </div>
  </div>
  
      
    
        