 
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-group"> 
            <div class="panel panel-info">     
                <div class="panel-heading">
                  {{title}}        
                </div>    
              </div>
          <div *ngFor="let singlePost of posts">      
            <app-single-post [post]="singlePost"></app-single-post>    
          </div>    
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4" style="margin:0.5%">
                <button *ngIf="showPrevButton()" type="submit" class="btn btn-info" (click)="previousPage()" style="margin:1%">Prev</button>   
                <button *ngIf="showNextButton()" type="submit" class="btn btn-info" (click)="nextPage()">Next</button>          
              </div>
            </div>
          </div>
          <div *ngIf="isLogged()" class="panel panel-info">    
            <app-add-post [threadId]="threadId" (postAdded)="addPost($event)"></app-add-post>
          </div>           
        </div>
      </div>
    </div>
  </div>
</div>

    
  
      