<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-lg-12">Reply</div>    
  </div>
  <br>  
  <div class="row">
    <div class="col-lg-12">
      <textarea class="form-control input-lg" placeholder="" aria-describedby="sizing-addon1" rows="10" required [(ngModel)]="content"></textarea>
    </div>      
  </div>
  <br>
  <div class="row">
      <div class="col-lg-12">
          <button type="submit" class="btn btn-info" (click)="post()">Reply</button>          
      </div>      
    </div>    
</div>  
<br>
