<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">     
        <div class="panel-heading">
          {{title}}    
        </div>     
        <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let topic of topics">
            <a [routerLink]="['/topic', topic.title, topic.id]">{{topic.title}}</a>
          </li>       
        </ul> 
      </div> 
    </div>                
  </div> 
</div>