<div class="panel panel-info" >   
  <div class="panel-heading">            
    <a [routerLink]="['/profile']">{{post.username}}</a>        
  </div>   
  <div class="panel-body">    
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 collapse in">
        <img class="img-responsive" [src]="profilePicURL" [routerLink]="['/profile']">
        <p class="text-center">{{username}}</p>  
        <p class="text-center">{{postsCount}} posts</p>
        </div>
        <div class="col-lg-10 collapse in">{{post.content}} </div>
      </div>
    </div> 
  </div> 
</div>   