<div class="panel panel-info">     
  <div class="panel-heading">
    <div class="row">
        <div class="col-lg-10">
            <a [routerLink]="['single-subforum', subforum.title, subforum.id]">{{subforum.title}}</a>  
          </div>
          <div class="col-lg-2">
            <button *ngIf="showAddTopicButton()" class="btn btn-info" (click)="enableAddTopic()" style="float: right;">Add topic</button>      
          </div>
    </div>    
  </div>     
  <div class="panel-body">
    <ul class="list-group">
        <li *ngIf="addTopic" class="list-group-item">
          <input (keyup)="addTopicToSubforum($event)" type="text" class="form-control" placeholder="Topic title" aria-describedby="sizing-addon2" required [(ngModel)]="addedTopicTitle">
        </li> 
        <li class="list-group-item" *ngFor="let topic of topics">
          <a [routerLink]="['topic', topic.title, topic.id]">{{topic.title}}</a>
      </li>       
    </ul> 
  </div> 
</div>  
  

    