<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-group"> 
          <div *ngFor="let message of messages">      
            <app-single-post [post]="message"></app-single-post>    
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

    
  
      