<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" name="query">
        </div>
        <button type="submit" class="btn btn-default" (click)="search()">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="isLogged()" routerLink="profile">Profile</a></li>
        <li><a *ngIf="!isLogged()" routerLink="register">Register</a></li>
        <li><a (click)="login()">{{loginText}}</a></li>        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>