<div class="container-fluid">
  <div *ngIf="isLogged()" class="row">
    <div *ngIf="!addSubforumFlag" class="col-lg-9">
      <button type="submit" class="btn btn-info" (click)="showAddSubforumInput()">Add subforum</button>
    </div>
    <div *ngIf="addSubforumFlag" class="col-lg-9">
        <ul class="list-group">
            <li  class="list-group-item">
              <input (keyup)="addSubforum($event)" type="text" class="form-control" placeholder="Subforum title" aria-describedby="sizing-addon2" required [(ngModel)]="addedSubforumTitle">
            </li>   
        </ul>         
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-9">
      <div class="panel-group">                   
        <div *ngFor="let subforum of subforums">
          <app-subforum [subforum]="subforum"></app-subforum>
        </div>                    
      </div>
    </div>
    <div class="col-lg-3">
      <app-recent-threads></app-recent-threads>     
    </div>
 </div>