<div class="panel panel-info" >   
  <div class="panel-heading">            
    <span class="label label-primary">{{username}}</span>      
  </div>   
  <div class="panel-body">    
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 collapse in align-baseline">
          <img class="img-responsive" [src]="profilePicURL" alt="">
          <br>
          <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-default">Overview</button>
          </div>
        </div>
        <div class="col-lg-10 collapse in">
          <div class="row">
         <div class="col-lg-2 collapse in">
            <p>Username:</p> 
        </div>
        <div class="col-lg-1 collapse in">
            <p>{{user.username}}</p> 
        </div>
      </div>  
      <div class="row">
        <div class="col-lg-2 collapse in">
            <p>Number of posts:</p> 
        </div>
        <div class="col-lg-1 collapse in">
            <p>{{user.numberOfPosts}}</p> 
        </div>
      </div>
         </div>
      </div>
    </div> 
  </div> 
</div>   