<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1">
      <button type="button" class="btn btn-primary" (click)="composeNew()">Compose new</button>
    </div>
  </div> 
  <br>         
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Messages</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let message of messages">
              <a [routerLink]="['/thread-posts', command]">From: {{message.username}}</a>
            </li>       
          </ul> 
        </div>
      </div>
    </div>
  </div>
</div>
    

