<div class="container-fluid">
  <div class="row">  
    <div *ngIf="isLogged()" class="col-lg-1">
      <app-start-thread [topicId]="id"></app-start-thread>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">     
        <div class="panel-heading">
          {{title}}    
        </div>     
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let thread of threads">
                <a [routerLink]="['/thread-posts', thread.title, thread.id]">{{thread.title}}</a>
            </li>       
          </ul> 
        </div> 
      </div>                
    </div> 
  </div>
</div>


